$minContainerWidth: 300px;
$maxContainerWidth: 1920px;

$minPhoneWidth: $minContainerWidth;
$maxPhoneWidth: 424px;

$minTabletWidth: 425px;
$averageTabletWidth: 768px;
$maxTabletWidth: 1023px;

$minDesktopWidth: 1024px;
$maxDesktopWidth: $maxContainerWidth;
